body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #333;/* 背景颜色,换图片太刺眼了（ */
}

header {
    background-color: #729fffd7;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    flex-direction: row; /* 水平排列子元素 */
    align-items: center; /* 垂直居中 */
    justify-content: space-between; /* 使元素分布在两端 */
    position: fixed;
    width: 100%;
    top: 0;
}

.header-image {
    max-height: 100px;
    width: auto;
}

header h1 {
    font-size: 2rem; /* 标题字体大小 */
    margin: 0; /* 去掉默认外边距 */
    flex-grow: 1; /* 让标题占据剩余空间 */
    text-align: left; /* 标题靠左 */
}

header nav {
    font-size: 25px; /* 导航栏字体大小 */
    flex-grow: 1; /* 让标题和导航栏占据剩余空间 */
    text-align: right; /* 标题和导航栏内容靠右 */
    margin-right: 50px;
}

header nav ul {
    display: flex;
    flex-direction: row; /* 水平排列导航项 */
    justify-content: right; /* 导航项水平靠右 */
}

header nav ul li {
    margin: 0 15px; /* 调整导航项的左右外边距 */
    display: inline; /* 确保导航项水平排列 */
    
}

.header-image.left {
    margin-left: 50px; /* 设置左侧外边距为 50px */
}

.left {
    order: -1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.list-box{
    border-radius: 4px; /* 圆角效果 */
    background-color: #ffffff66; /* 背景颜色 */
    padding: 20px;
    margin: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
}


.server-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px; /* 设置间距 */
    flex-wrap: wrap; /* 允许换行 */
}



.server-box-item{
    width: 700px; /* 修改宽度为 220px */
    height: 200px; /* 保持高度为 100px */
    border-radius: 15px; /* 小圆角 */
    background-color: #ffffff;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* 文字阴影 */
    font-size: 20px; /* 增大文字大小，你可以根据需求调整这个值 */
    font-weight: bold; /* 粗体字 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 0.3s;
    background-image: var(--bg-image); /* 使用 CSS 变量作为背景图片 */
    background-size: cover;
    background-position: center;
    position: relative; /* 关键：让伪元素定位 */
    overflow: hidden; /* 防止伪元素溢出圆角 */
}

.server-text{
    filter: initial;
    z-index: 1;
}




.server-box-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.19); /* 鼠标悬停时的阴影效果 */
    background-color: #ffffff; /* 鼠标悬停时的背景颜色 */
    transform: scale(1.02); /* 鼠标悬停时的缩放效果 */
    font-size: 25px; /* 鼠标悬停时的文字大小 */
    color: #82fcdb;
    z-index: 2; /* 确保文字在伪元素之上 */
}

.contributor-boxes {
    display: grid;
    gap: 20px; /* 设置间距 */
    grid-template-columns: repeat(5, minmax(220px, 1fr)); /* 设置列数和宽度 */
    margin-bottom: 20px;
}

.contributor-box {
    width: 220px; /* 修改宽度为 220px */
    height: 100px; /* 保持高度为 100px */
    border-radius: 10px; /* 小圆角 */
    background-color: #ffffffea; /* 矩形框背景颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

.contributor-image {
    position: relative;
    top: 25px;
    left: 20px;
}

.contributor-box {
    position: relative; /* 确保子元素定位参考该容器 */
    display: flex; /* 使用 flex 布局 */
    align-items: center; /* 垂直居中 */
    color: #151515;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

.contributor-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.19); /* 鼠标悬停时的阴影效果 */
    background-color: #ffffff; /* 鼠标悬停时的背景颜色 */
    transform: scale(1.02); /* 鼠标悬停时的缩放效果 */
}

.contributor-image {
    position: static; /* 移除之前的相对定位 */
    margin-left: 20px; /* 保持左边距 */
}

.contributor-title {
    margin-left: 50px; /* 让文字距离小圆角矩形框左边 50px */
    font-size: 20px; /* 增大文字大小，你可以根据需求调整这个值 */
}


#home {
    height: 50vh; /* 设置高度为视口高度 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
}

#home .home-title-image {
    max-width: 100%; /* 确保图片宽度不超过容器 */
    max-height: 100%; /* 确保图片高度不超过容器 */
}
#home p {
    text-align: center;
    font-size: 40px; /* 将文字大小设置为 25px */
    color: #a1f5f5;
}

#home-intro {
    margin-bottom: 200px;
    height: 25vh; /* 设置高度为视口高度 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    text-align: center;
    font-size: 30px; /* 将文字大小设置为 20px */
    color: #ffffff;
    font-weight: bold; /* 粗体字 */
    font-weight: bolder;
}

.home-intro-box{
    padding: 20px;
    margin: 20px;
}

.home-intro-box-qq{
    border-radius: 15px;
    background-color: #00d9ffe3;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 0.3s;
}

.home-intro-box-qq:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.19); /* 鼠标悬停时的阴影效果 */
    background-color: #4faaff;
    transform: scale(1.05); /* 鼠标悬停时的缩放效果 */
}

.home-intro-box-left{
    display: flex;
    justify-content: space-around;
}


.home-intro-box-doc{
    border-radius: 15px;
    background-color: #54db81e3;
    width: 230px; /* 设置宽度为 300px */
    height: 70px; /* 设置高度为 200px */
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 0.3s;
}

.home-intro-box-doc:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.19); /* 鼠标悬停时的阴影效果 */
    background-color: #2bce4b;
    transform: scale(1.05); /* 鼠标悬停时的缩放效果 */
}


.home-intro-box-map{
    border-radius: 15px;
    background-color: #eef660e3;
    width: 230px; /* 设置宽度为 300px */
    height: 70px; /* 设置高度为 200px */
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 0.3s;
}

.home-intro-box-map:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.19); /* 鼠标悬停时的阴影效果 */
    background-color: #a3c10c;
    transform: scale(1.05); /* 鼠标悬停时的缩放效果 */
}

.player-list{
    height: 500px; /* 设置高度为视口高度 */
    width: 1500px; /* 设置宽度为视口宽度 */
    border-radius: 15px; /* 小圆角 */
    margin-top: 25px;
    margin: auto;
    background-color: azure;

}

#sakuraCanvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
  }

/*背景切换*/
.slideshow { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    z-index: -1; 
    filter: blur(0px); 
}

.bg-slide { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
}
.bg-slide.active { opacity: 1; }

.slideshow-content { position: relative; z-index: 1; height: 100vh; display: flex; flex-direction: column; 
    align-items: center; justify-content: center; text-align: center; padding: 1rem; }

.bg-mask{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色遮罩 */
    z-index: 1; 
}